body {
	background-color: white;
	margin: auto;
	color: #8B8B8B;	
}

.wrapper {
	display: flex;
	flex-direction:row;
	width:80%;
	margin: 0 auto;	
}

.cookie {
	width: 100px;
	height: 100px;
	background-color: brown;
	border-radius: 50% 50%;
}

.counter-cookie {
	position: relative;
	top:40%;
	left:40%;
}